* {
  padding: 0;
  margin: 0;
}

@keyframes neonefecto {
  50% {
    text-shadow: 0 0 10px rgba(0, 178, 255, 1), 0 0 20px rgba(0, 178, 255, 1),
      0 0 30px rgba(0, 178, 255, 1);
  }
}

/*Menu hamburguesa*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
}

body {
  background-color: #000;
}

#logo {
  max-width: 7rem;
  border-radius: 50%;
  /* box-shadow: 2px 10px 5px rgba(0, 178,255); */
}

/*Menu para escritorio*/
.open,
.close {
  color: #fff;
  display: none;
}
.menu-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu-list a:hover {
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.menu-list li a {
  text-decoration: none;
  color: skyblue;
}

/*About*/
.about {
  background-color: #000;
}
.about img {
  max-height: 15rem;
  border-radius: 50%;
  box-shadow: 6px 4px 7px rgba(102, 178, 255);
  position: relative;
  left: 80%;
  top: 15px;
}
.about img:hover {
  box-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}
.biography h1,
p {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  bottom: 10rem;
  font-size: 40px;
  color: #000;
  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.biography span {
  color: #fff;
  animation: neonefecto 1s infinite;
}

/*Menu para moviles*/
@media screen and (max-width: 550px) {
  #logo {
    max-height: 5rem;
  }
  .open,
  .close {
    display: block;
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
      0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
      0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
      0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
      0 0 180px rgba(38, 104, 127, 1);
    cursor: pointer;
  }
  .menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
  }
  .show {
    opacity: 1;
    visibility: visible;
  }

  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .about img {
    max-height: 10rem;
    border-radius: 50%;
    box-shadow: 6px 4px 7px rgba(102, 178, 255);
    position: relative;
    left: 30%;
    top: 15px;
  }

  .biography h1,
  p,
  span {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 25px;
    font-size: 18px;
    text-wrap: nowrap;
  }
  .biography span {
    color: #fff;
  }
}
